html {
  background-color: #040404;
  font-family: "Circular Std", system, -apple-system, BlinkMacSystemFont,
    sans-serif;
}

body {
  background-color: #121212;
  color: #fcfcfc;
  margin: 0px;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.NavDiv {
  color: #ababab;
  display: flex;
  align-items: center;
  background-color: #040404;
  height: 100vh;
  width: 15%;
}

.NavNav {
  height: 100vh;
  width: 100%;
}

.NavbarItems {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 60%;
  align-items: center;
  padding-left: 0px;
}

.NavbarItem {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavbarItem:hover {
  color: #fcfcfc;
}

.NavbarItem.active {
  color: #fcfcfc;
  background-color: #282828;
}

.spotify-logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.NavbarIcon {
  margin-right: 20px;
}

.App-div {
  display: flex;
}

.LoginScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.LoginHeading {
  color: #1db954;
}

.LoginButton {
  background-color: #1db954;
  color: #fcfcfc;
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 20px;
}
