.App-div {
}

a.nameLink {
  color: #fcfcfc;
}

a.nameLink:hover {
  color: #1db954;
  text-decoration: none;
}

.UserInfo-NameStats-stats-item {
  margin-right: 30px;
  color: #ababab;
  font-size: 85%;
}

.UserInfo-NameStats-stats-item-num {
  display: block;
  text-align: center;
  color: #1db954;
  font-size: x-large;
}
